html,main,
body {
  
 height: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.ball {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(0,0,0);
  background: linear-gradient(315deg, rgba(0,0,0,1) 80%, rgba(120,120,120,.75) 98%); 
  width: 500px;
  height: 500px;
  border-radius: 100%;
  box-shadow: inset -25px -15px 30px rgba(90,90,90,.3);
  transition: margin .25s ease-in;
}

.hole {
  position: relative;
  height: 190px;
  width: 190px;
  background: rgb(250,250,250);
  background: linear-gradient(120deg, rgba(250,250,250,.1) 5%, rgba(18,2,55,.95) 20%); 
  border: -10px solid black;
  border-radius: 100%;

}

.glass {
  position: absolute;
  background: rgb(250,250,250);
  background: linear-gradient(120deg, rgba(250,250,250,.1) 5%, rgba(18,2,55,.95) 20%); 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 100%;
  -webkit-filter: blur(1px);
  filter: blur(1px);
  z-index: 9999;
}

.message-holder {
  float: left;
  margin-top: 45px;
  margin-left: 20px;
  width: 0; 
  height: 0; 
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;  
  border-top: 135px solid #a2a2a2;
  transition: opacity 2s ease-in-out;
}

#message {
  color: rgb(226, 14, 14);
  font-size: 18px;
  text-align: center;
  margin: 60px auto;
  width: 50%;
  transition: opacity 2.5s ease-in;
}


.shake {
  animation: shake 4s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
